$backgroundGrey: #eaeff7;
$inputTextColor: rgb(109, 108, 108);

.playersTable {
  display: table;
  align-self: center;
  min-width: 600px;
  border-collapse: collapse;

  tbody tr:nth-child(even) {
    background-color: $backgroundGrey; /* Чередующийся цвет фона рядов */
  }
  tbody td {
    vertical-align: middle;
    min-width: 35px;
    padding: 10px;
  }

  .none {
    display: none;
  }

  .nameCol, .rankCol {
    cursor: pointer;
    &:hover {
      background-color: $backgroundGrey;
    }
  }

  .nameCol {
    text-align: start;
    padding: 10px;
  }

  .name {
    min-width: 150px;
  }

  .inputName, .inputRank {
    margin: 0;
    border: none;
    border-bottom: 1px solid;
    color: $inputTextColor;
    font-style: italic;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
  .inputName {
    max-width: 125px;
  }
  .inputRank {
    max-width: 40px;
    text-align: center;
  }
}