.playersTable {
  align-self: center;
  min-width: 600px;
  border-collapse: collapse;
  display: table;

  //  td {
  //   border: 1px solid rgba(128, 128, 128, 0.37);
  // }
  tbody tr:nth-child(even) {
    background-color: #eaeff7; /* Чередующийся цвет фона рядов */
  }
  tbody td {
    vertical-align: middle;
    padding: 10px;
  }

  .name {
    width: 150px;
  }

  .inputName {
    max-width: 125px;
    margin: 0;
    border: none;
    border-bottom: 1px solid;
    color: rgb(109, 108, 108);
    font-style: italic;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
  .inputRank {
    max-width: 40px;
    text-align: center;
    margin: 0;
    border: none;
    border-bottom: 1px solid;
    color: rgb(109, 108, 108);
    font-style: italic;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}