.btnTable {
  border: none;
  background-color: transparent;

  &:hover {
    scale: 1.3;
  }
}
.down, .doubledown, .delete {
  &:hover {
    color: rgb(255, 0, 34)
  }
}
.up, .doubleup, .check {
  &:hover {
    color: rgb(1, 219, 1);
  }
}
.edit {
  &:hover {
    color: rgb(1, 88, 219);
  }
}